@model IEnumerable<RentalApp.Models.Messages>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('/css/email.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #F5EFE6;">
    <div class="welcome-message">
        @if (User.Identity.IsAuthenticated)
        {
            <h2>Welcome, @User.Identity.Name!</h2>
            <p>Thank you for logging in. You can now access your messages and perform other actions.</p>
        }
    </div>

    <h1 class="page-header">Index</h1>

    <p class="create">
        <a asp-action="Create">Create New</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MessageText)</th>
                <th>@Html.DisplayNameFor(model => model.SendDateTime)</th>
                <th>@Html.DisplayNameFor(model => model.Receiver)</th>
                <th>@Html.DisplayNameFor(model => model.Sender)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MessageText)</td>
                    <td>@Html.DisplayFor(modelItem => item.SendDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Receiver.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sender.Email)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
